@import 'src/styles/shared.scss';

.root {
  display: flex;
}

.field {
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  height: 60px;
  flex-grow: 1;
  font-size: 20px;
  background-color: rgba(85, 85, 85, 0.6);
  color: #fff;
  padding: 0 15px;

  &:focus {
    border: 1px solid #555555;
    outline: none;
  }
}

.button {
  @extend %button;
  width: 230px;
}
