@import 'src/shared.scss';

.root {
  padding-top: 20px;
  padding-bottom: 28px;
  background-color: #232323;
}

.container {
  @extend %container;
}

.controls {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
}

.line {
  @extend %line;
  height: 2px;
}
