@import 'src/styles/shared.scss';

.content {
  width: 675px;
  margin: auto;
  background-color: #232323;
  color: #fff;
  padding: 40px 30px 70px 85px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 9px 13px 24px -9px rgba(0, 0, 0, 0.7);
}

.contentHeader {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
}

.crossButton {
  @extend %cross-button;
  $size: 30px;
  width: $size;
  height: $size;
  margin-left: auto;
  margin-bottom: 24px;

  &::after {
    font-size: $size;
  }
}

.form {
  margin-right: 55px;
}

.inputRoot {
  margin-bottom: 30px;
}

.lastInputRoot {
  margin-bottom: 100px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonReset {
  @extend %button;
  background-color: #232323;
  color: #f65261;
  border: 1px solid #f65261;
  margin-right: 15px;
}

.buttonSave {
  @extend %button;
  border: 1px solid #f65261;
}

.selectInput {
  height: 120px;
}