@import 'src/styles/shared.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #232323;
}

.header {
  padding-top: 20px;
  margin-bottom: 125px;
}

.container {
  flex: 1 0 auto;
  @extend %container;
}

.title {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

.notFoundImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 90px;
}

.goBackButton {
  @extend %button;
  background-color: #232323;
  color: #f65261;
  border: 1px solid #f65261;
  height: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 265px;
  padding: 15px 30px;
}

.footer {
  flex-shrink: 0;
}
