@import 'src/shared.scss';

.rootOpen {
  filter: blur(10px);
}

.bodyOpen {
  overflow: hidden;
}

.root {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.container {
  @extend %container;
  flex: 1 0 auto;
  margin-bottom: 125px;
}

.header {
  padding-top: 20px;
  margin-bottom: 80px;
}

.footerRoot {
  flex-shrink: 0;
}
