.root {
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background: none;
  display: flex;

  &::after {
    content: 'X';
    font-size: 16px;
    color: #555555;
    margin: auto;
  }

  &:hover {
    cursor: pointer;
    &::after {
      color: #fff;
    }
  }
}
