@import 'src/shared.scss';

.header {
  padding-top: 20px;
  margin-bottom: 80px;
}

.content {
  width: 675px;
  margin: auto;
  background-color: #232323;
  color: #fff;
  padding: 40px 30px 70px 85px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 9px 13px 24px -9px rgba(0, 0, 0, 0.7);
}

.contentHeader {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
}

.contentBody {
  margin: 0;
  font-size: 22px;
  margin-bottom: 40px;
}

.crossButton {
  @extend %cross-button;
  $size: 30px;
  width: $size;
  height: $size;
  margin-left: auto;
  margin-bottom: 24px;

  &::after {
    font-size: $size;
  }
}

.buttonConfirm {
  @extend %button;
  margin-left: auto;
  margin-right: 54px;
}
