.root {
  background-color: #f65261;
  color: #fff;
  width: 180px;
  height: 60px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    border: 1px solid #555555;
  }
}
