.modal {
  display: flex;
  position: absolute;
  width: 190px;
  height: 110px;
  background-color: #232323;
  right: 15px;
  top: 15px;
  flex-direction: column;
  cursor: default;
}

.closeContainer {
  padding-top: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
}

.editButton,
.deleteButton {
  height: 35px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: #555555;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: #f65261;
  }
}
